@model IEnumerable<ForumSystem.Web.MVC.Models.ForumPostCategories.ForumPostCategoriesViewModel>
@{
    ViewBag.Title = "_ForumPostCategoriesPartial";
}


@foreach (var category in Model)
{
    <tbody>
        <tr>
            <td class="text-left">
                <h4 class="list-group-item-heading">@Html.ActionLink(category.Name, "ForumPosts/" + category.Id, "ForumPosts")</h4>
                <p class="list-group-item-text">@category.Description</p>
            </td>
    </tbody>
}

